<!--<h1>My First PrimeNG App</h1>
<input type="text" pInputText=""/>-->


<p-toolbar>
    <div class="ui-toolbar-group-left">
        <button pButton type="button" label="New" icon="fa-plus"></button>
    </div>
</p-toolbar>


<p-dataTable [value]="heroes" [responsive]="true">
    <p-column field="id" header="Id"></p-column>
    <p-column field="firstName" header="Vorname"></p-column>
    <p-column field="lastName" header="Nachname"></p-column>
    <p-column field="birthDate" header="Geburtsdatum"></p-column>
</p-dataTable>


<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.firstName}}
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2>
        {{selectedHero.name | uppercase}} is my hero
    </h2>
    <button (click)="goToDetail()">View Details</button>
</div>